body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.p-inputtext:enabled:focus {
  box-shadow: none;
}
.p-button:enabled:focus {
  box-shadow: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p-float-label input:focus ~ label, .p-float-label input:-webkit-autofill ~ label, .p-float-label input.p-filled ~ label, .p-float-label textarea:focus ~ label, .p-float-label textarea.p-filled ~ label, .p-float-label .p-inputwrapper-focus ~ label, .p-float-label .p-inputwrapper-filled ~ label, .p-float-label .p-tooltip-target-wrapper ~ label {
  top: 0.1rem;
  font-size: 12px;
  background-color: white;
  padding-left: 3px;
  padding-right: 3px;
}
.p-inputswitch {
  margin-top: 0.2rem;
}
.card {
  padding: 0.5rem;
}
.input-sm {
    font-size: 0.875rem;
    padding: 0.35625rem 0.35625rem;
}
.input-form-sm {
    font-size: 0.875rem;
    padding: 0.65625rem 0.65625rem;;
}
.label-sm {
    font-size: 0.875rem!important;
}
.p-datatable .p-datatable-header {
  padding: 0.5rem 1rem;
}
.p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.35rem 0.45rem;
}
.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 1rem;
}
.p-datatable .p-datatable-tbody > tr > td,.p-datatable .p-datatable-tfoot > tr > td {
  padding: 0 0.3rem;
}
.p-button.p-button-icon-only.p-button-rounded {
  height: 1.8rem;
}

.p-button.p-button-icon-only {
  width: 1.8rem;
}
.post-select-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 280px;
  overflow: hidden;
  margin-bottom: 15px;
  display: block;
  text-align: center;
  background: #f8f9fb;
  border: 2px dashed #e4e5e7;
  border-radius: 3px;
  cursor: pointer;
}
.btn-select-image-inner{
  position: relative;
}
.custom-paginator .p-inputtext {
  padding: 0.35625rem 0.35625rem !important;
  font-size: 0.875rem !important;
}
.custom-paginator .p-dropdown {
    height: 2rem;
}
.custom-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2rem;
    height: 2rem;
}
.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last,.p-paginator .p-paginator-current {
    min-width: 2rem;
    height: 2rem;
}
.custom-paginator .p-paginator {
    padding: 0.1rem 1rem;
}
.custom-paginator .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 0.3rem 1.25rem;
}
.p-paginator {
  padding: 0.2rem 1rem;
}
/* Căn giữa checkbox trong DataTable */
.p-datatable .p-selection-column {
    text-align: center !important;
    vertical-align: middle !important;
}

/* Nếu bạn muốn checkbox ở giữa hoàn toàn theo chiều ngang và dọc */
.p-datatable .p-selection-column .p-checkbox {
    align-items: center;
}
.button-icon-sm>.p-button.p-button-icon-only,.button-icon-sm>.p-inputtext{
    font-size: 0.875rem;
    padding: 0.35625rem 0
}
.calendar-hidden-popup{
display: none !important;
}
/* Ẩn nút xóa filter row */
.p-column-filter-clear-button {
    display: none !important;
}
.p-column-filter-row .p-column-filter-element{
    font-size: 0.875rem;
    padding: 0.35625rem 0 !important
}
.p-column-filter-row .p-inputtext {
      font-size: 0.875rem;
    padding: 0.35625rem 0 !important
}
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    padding: 0.015625rem 0.35625rem;
    text-align: center;
}
.dropdown-input-sm, .dropdown-input-sm span {
    font-size: 1.2rem !important;
    padding: 0.07rem 0.35625rem !important;
}
.custom-calendar{
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}
.calendar-sm{
    font-size: 1.2rem !important;
    padding: 0.14rem 0.35625rem !important;
}
.p-dialog .p-dialog-header {
    padding: 0.5rem 1rem;
}
.p-dialog .p-dialog-content {
    padding: 0 1rem 0.5rem 1rem;
}
.child-table .p-datatable>.p-datatable-wrapper {
    overflow: initial;
}
.p-button-normal {
   padding: 0.55rem 0.5rem;
}
.layout-main-container {
    padding-bottom: 0;
}
.my-title-center .p-column-title {
    width: 100%;
}
.table-title-center .p-column-title {
    text-align: center;
    width: 100%;
}
.Custom-DataTableClient >.p-datatable-wrapper {
  flex-basis: 0;
}
@media screen and (min-width: 1960px) {
    .layout-main, .landing-wrapper {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
/* Thụt lề theo cấp */
.dropdown-item.level-0 {
  padding-left: 8px;
  font-weight: 600;
}

.dropdown-item.level-1 {
  padding-left: 28px;
}

.dropdown-item.level-2 {
  padding-left: 48px;
}

/* Node cha */
.dropdown-item.parent-item {
  color: #1f2937;
}

/* Node con */
.dropdown-item.leaf-item {
  color: #374151;
}

/* Disable click node cha (tuỳ chọn) */
.p-dropdown-item.p-disabled {
  opacity: 0.6;
}

